.dialogs {
    display: grid;
grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;

}
.dialogsItems .active {
    color: rgba(255,99,37,0.65);
}

.messages {
    padding: 10px;
}
.dialog {
    color: pink;
}