
.nav {
    padding: 30px;
    text-align: center;
    background-color: lightpink;
    grid-area: n;
    margin: 5px 5px 0px 5px;
    border-radius: 5px;
    font-size: small;
}


.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: rgba(244,255,56,0.89);
}

